$gray-dark-primary: #4d5460;
$gray-dark-secondary: #343a43;
$gray-dark-tertriary: #282e36;
$gray-light-primary: #fafafa;
$gray-light-secondary: #dddede;
$gray-light-tertriary: #959ba4;

$blue-primary: #7aaccc;

$blue-secondary: #4e7faf;