.article-navigation-fixed {
	.prev, .next {
		display:none;
		position:fixed;
		top:50%;
		z-index:100;
		/**/
		@media #{$large-up} {
			display:block;
		}
	}
	.prev {
		left:0;
	}
	.next {
		right:0;
	}
}